* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

html,
body {
    height: 100vh;
    background-color: #e4c9b6;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px;
}

h1 {
    font-size: 20px;
    text-align: center;
}

.navbar h2 {
    color: #dea69b;
    font-weight: 600;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    /* убирает точки в ссылке */

}

.navbar ul li a {
    text-decoration: none;
    /* убирает подчеркивания в ссылке */
    color: aliceblue;
    /* цвет ссылок */
    font-size: 15px;
    /* размер ссылок */
    margin-right: 20px;
}

.navbar ul li a:hover {
  background-color: #dea69b;
}

.search1 {
    display: flex;
    justify-content: end;
}



.categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px;
}

.categories ul {
    display: flex;
}

.categories ul li {
    list-style: none;
}


.categories ul li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    margin-right: 20px;
}



.reviews-wrapper {
    display: flex;
    justify-content: center;
}

.section-title {
    text-align: center;
    font-size: 28px;
    margin: 40px 0 30px;
    background: #1c1c1c;
}

/* ===== ГАЛЕРЕЯ ===== */
.gallery {
    padding: 0 20px 60px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;

}

.gallery-item {
    position: relative;
    display: block;
    border-radius: 14px;
    overflow: hidden;
    background: #ff0101;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.overlay-text {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.6);
    /* прозрачный фон */
    color: #e4c9b6;
    padding: 6px 15px;
    border-radius: 5px;
    font-size: 15px;
}

.gallery-item:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4);

}

.gallery-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}



/* ===== ОТЗЫВЫ ===== */
.reviews {
    padding: 40px 20px 80px;
    background: #1a1a1a;
}

.reviews-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.review-card {
    background: #222;
    border-radius: 14px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.review-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.35);
}

.review-card img {
    width: 100%;
    max-height: 240px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.review-text {
    font-size: 15px;
    line-height: 1.4;
    color: #eaeaea;
}

/* ===== АДАПТИВ ===== */
@media (max-width: 768px) {
    .section-title {
        font-size: 22px;
    }

    .review-card img {
        max-height: 200px;
    }
}


.reviews li a {
    list-style: none;
    text-decoration: none;

}



.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);

    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.modal-img {
    max-width: 100%;
    max-height: 80%;
    /* чтобы крестик не перекрывался */
    border-radius: 14px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    z-index: 1100;
    /* выше картинки */
}

/* Адаптив для экранов меньше 480px */
@media (max-width: 480px) {
    .close {
        font-size: 24px;
        top: 5px;
        right: 10px;
    }

    .modal-img {
        max-height: 70%;
    }
}

